streamlit
langchain
langchain_core
langchain_community
langchain_openai
langchain_experimental
beautifulsoup4
python-dotenv
chromadb
pytest
neo4j
openai
py2neo
spacy
newspaper3k
fastapi
uvicorn
lxml_html_clean